/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
  =============================================
  Set box sizing to border-box for all elements
  =============================================
*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/*
  ========================================
  Clearfix for floating elements
  ========================================
*/
.cfix:before,
.cfix:after {
  content: "";
  display: table;
}
.cfix:after {
  clear: both;
}
.cfix {
  clear: both;
  *zoom: 1;
}