#nav-bar-image {
    width: 60px;
    height: 50px;
    margin-right: 5px;
}

.navbar-bar-text {
    color: white;
    font-size: 30px;
}

#nav-bar-image,
.navbar-bar-text {
	vertical-align: middle;
}

.navbar-brand {
    text-transform: capitalize;
}